a {
    text-decoration: none;
    color: #333;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*layout*/
html, body {
    height: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #333;
}

.app {
    min-height: 100%;
    margin-bottom: -50px;
}

.main {
    padding-bottom: 50px;
    overflow: hidden;
}

.push {
    height: 50px;
}

/*layout*/

/*common*/
.clear {
    clear: both;
}

.btn {
    display: inline-block;
    text-align: center;
    line-height: 33px;
    height: 33px;
    width: 70px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 3px;
    color: #fff;
    background-color: #25b864;
    border-color: #25b864;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn:hover {
    color: #fff;
    background-color: #14a753;
    border-color: #14a753;
}

.btn-danger:hover {
    background-color: #c8423e;
    border-color: #c32e29;
}

.hidden {
    display: none !important;
}

.form {
    text-align: center;
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.form-group label:after {
    content: '：';
}

.form-group label.required:after {
    content: '*：';
    color: red;
}

.form-group input, .form-group select {
    width: 500px;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    padding: 0 8px;
    border: 1px solid #e3e3e3;
    color: #2c3e50;
    outline: none;
    border-radius: 3px;
    transition: border-color 0.2s ease;
    vertical-align: middle !important;
}

/*common*/

/*header*/
.header {
    height: 60px;
    line-height: 60px;
}

.header img {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    float: left;
}

.header ul {
    float: left;
    margin-left: 60px;
}

.header ul li {
    float: left;
}

.header ul li a {
    width: 100px;
    display: inline-block;
    color: #555;
    font-size: 16px;
}

.header ul li a:hover {
    color: #f60;
}

.header ul li.active a {
    color: #f60;
}

.header ul li a:after {
    content: '|';
    color: #ccc;
    margin-left: 15px;
    margin-right: 15px;
}

.header ul li a:last-child:after {
    content: '';
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*header*/

/*banner*/
.banner {
    clear: both;
}

.banner img {
    min-width: 1200px;
    width: 100%;
}

/*banner*/

/*breadcrumbs*/
.breadcrumbs {
    margin-top: 10px;
}

.breadcrumbs a {
    color: #555;
}

.breadcrumbs a:hover {
    color: #f60;
}

.breadcrumbs a:after {
    color: #555;
    content: '>';
    margin: 0 5px;
}

.breadcrumbs a:last-child {
    cursor: auto;
}

.breadcrumbs a:last-child:after {
    content: '';
}

.breadcrumbs a:last-child:hover {
    color: #555;
}

/*breadcrumbs*/

/*footer*/
.footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #8c8c8c;
    border-top: 1px solid #eee;
    position: relative;
}

.footer div {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 10px;
    background: #ddd;
}

.footer img {
    position: absolute;
    display: inline-block;
    right: 60px;
    bottom: 10px;
    width: 80px;
    /* Rotate div */
    transform: rotate(15deg);
    -ms-transform: rotate(15deg); /* Internet Explorer */
    -moz-transform: rotate(15deg); /* Firefox */
    -webkit-transform: rotate(15deg); /* Safari 和 Chrome */
    -o-transform: rotate(15deg); /* Opera */
}

/*footer*/

/*main*/
.main {
    margin-top: 10px;
}

.tabs {
    margin-top: 10px;
}

.tab-nav {
    height: 56px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.tab-nav li {
    float: left;
}

.tab-nav li a {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    width: 130px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 1px solid #ddd;
    border-right: none;
    background: #eee;
}

.tab-nav li:last-child a {
    border-right: 1px solid #ddd;
}

.tab-nav li.active a {
    color: #f60;
    border-bottom: 0;
    background: #fff;
    border-top: 3px solid #f60;
}

.tab-panel {
    margin-top: 15px;
}

p {
    line-height: 2;
    font-size: 14px;
    color: #555;
    text-indent: 30px;
    margin-top: 10px;
}

/*main*/

/*videos*/
.videos {
}

.videos dl {
    display: inline-block;
    margin: 0 20px 0 15px;
    padding: 0;
    width: 260px;
    height: 260px;
}

.videos dl dd img {
    width: 200px;
    height: 160px;
    padding: 6px;
    border: 1px solid #dfd9ce;
    box-shadow: 0px 1px 2px #adaca9;
}

.videos dl dt {
    margin-top: 5px;
    padding-left: 50px;
    text-align: left;
    font-size: 12px;
}

/*videos*/

/*pagination*/

.pagination {
    clear: both;
    list-style: none;
    height: 32px;
    padding-left: 15px;
    float: right;
}

.pagination li {
    float: left;
}

.pagination li a {
    display: inline-block;
    font-size: 14px;
    color: #595959;
    border: 1px solid #e8e8e8;
    margin-right: 10px;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    border-radius: 3px;
    cursor: pointer;
}

.pagination li.active a {
    border: none;
    color: #f60;
}
/*pagination*/
