* {
    padding: 0;
    margin: 0;
    color: #333;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/*layout*/
html, body {
    height: 100%;
    font-size: 14px;
}

.app {
    min-height: 100%;
    margin-bottom: -50px;
}

.main {
    padding-bottom: 50px;
    overflow: hidden;
}

.push {
    height: 50px;
}

/*layout*/

/*common*/
.clear {
    clear: both;
}

/*common*/

/*header*/
.header {
    height: 60px;
    line-height: 60px;
}

.header img {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    float: left;
}

.header ul {
    float: left;
    margin-left: 40px;
}

.header ul li {
}

.header ul li a {
    display: inline-block;
    color: #555;
    font-size: 16px;
}

.header ul li a:after {
    content: '|';
    color: #ccc;
    margin-left: 15px;
    margin-right: 15px;
}

.header ul li a:last-child:after {
    content: '';
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*header*/

/*banner*/
.banner {
    clear: both;
}

/*banner*/

/*breadcrumbs*/
.breadcrumbs {
    margin-top: 10px;
}

.breadcrumbs a {
    color: #555;
}

.breadcrumbs a:hover {
    color: #f60;
}

.breadcrumbs a:after {
    color: #555;
    content: '>';
    margin: 0 5px;
}

.breadcrumbs a:last-child {
    cursor: auto;
}

.breadcrumbs a:last-child:after {
    content: '';
}

.breadcrumbs a:last-child:hover {
    color: #555;
}

/*breadcrumbs*/

/*footer*/
.footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #8c8c8c;
    border-top: 1px solid #eee;
}

.footer div {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 10px;
    background: #ddd;
}

/*footer*/

/*main*/
.main {
    margin-top: 10px;
}

.tabs {
    margin-top: 10px;
}

.tab-nav {
    height: 56px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.tab-nav li {
    float: left;
}

.tab-nav li a {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    width: 130px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 1px solid #ddd;
    border-right: none;
    background: #eee;
}

.tab-nav li:last-child a {
    border-right: 1px solid #ddd;
}

.tab-nav li.active a {
    color: #f60;
    border-bottom: 0;
    background: #fff;
    border-top: 3px solid #f60;
}

.tab-panel {
    margin-top: 15px;
}

p {
    line-height: 2;
    font-size: 14px;
    color: #555;
    text-indent: 30px;
    margin-top: 10px;
}

.hidden {
    display: none !important;
}

/*main*/